.sidebarOption{
    display: flex;
    align-items: center;
    color:#B3B3B3;
    font-size: 13px;
    height: 40px;
    cursor: pointer;
    transition: 180ms color ease-in;
}

.sidebar > hr{
    border: 1px solid #282828;
    width: 90%;
    margin: 10px auto;
}

h4{
    font-weight: 600;
}

.sidebarOption:hover{
    color: #fff;
}

.sidebarOption__icon{
    padding: 0 10px;
}

.sidebarOption > p {
    margin-top: 10px;
    margin-left: 20px;
    font-size: 14px;
}