.sidebar{
    height: 100vh;
    flex: 0.2;
    color: #f1f1f1;
    min-width: 230px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #040404;
}

.sidebar__logo{
    height: 70px;
    padding: 10px;
    margin-right: auto;
}

.sidebar__title{
    margin-left: 10px;
    padding: 5px;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 1px;
}
/*video 2:51 time*/

hr{
    
}